@model UrgencyUpdateDto
@{
    ViewData["Title"] = "UpdateUrgency";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form class="w-75 mx-auto p-3" method="post" asp-action="UpdateUrgency" asp-controller="Urgency">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Definition">Tanım</label>
        <span asp-validation-for="Definition" class="text-danger"></span>
        <input type="text" asp-for="Definition" class="form-control" />
    </div>
    <button type="submit" class="btn btn-info btn-sm mt-2"><i class="fa-solid fa-square-check mr-2"></i> Kaydet</button>
</form>

@section JavaScript{

    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}


