@{
    string active = string.Empty;
    active = TempData["Active"]?.ToString();


}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/lib/Template/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/lib/bootswatch/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/Template/css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/lib/FontAweSome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        @await Component.InvokeAsync("Wrapper")
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light border border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-outline-primary btn-sm" id="menu-toggle"><i class="fa-solid fa-arrow-right-arrow-left mr-2"></i> Menü</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    @*<div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>*@
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">

                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/Jquery/jquery.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/FontAweSome/js/all.min.js"></script>
    @RenderSection("JavaScript", false)

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
