
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="row mt-3">



        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3 text-center">

                <div class="card-body">
                    <h4 class="card-title">Atanacak Görev Sayısı</h4>
                    @if (ViewBag.NotAssignProcessCount > 0)
                    {
                        <p class="card-text display-4">@ViewBag.NotAssignProcessCount</p>
                        <p><a asp-action="Index" asp-controller="ProcessOrders" class="btn btn-light btn-sm"><i class="fas fa-chevron-circle-right me-2"></i>İncele</a></p>
                    }
                    else
                    {
                        <p class="card-text lead">Atanmamış görev yoktur.</p>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3 text-center">

                <div class="card-body">
                    <h4 class="card-title">Okunmamış Bildirim Sayısı</h4>
                    @if (ViewBag.NotReadNotificationCount > 0)
                    {
                        <p class="card-text display-4">@ViewBag.NotReadNotificationCount</p>
                        <p><a asp-action="Index" asp-controller="Notification" class="btn btn-light btn-sm"><i class="fas fa-chevron-circle-right me-2"></i>İncele</a></p>
                    }
                    else
                    {
                        <p class="card-text lead">Okunmamış bildiriminiz yoktur.</p>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3 text-center">

                <div class="card-body">
                    <h4 class="card-title">Tamamlanan Görev Sayısı</h4>
                    @if (ViewBag.CompletedProcess > 0)
                    {
                        <p class="card-text display-4">@ViewBag.CompletedProcess</p>
                        @*<p><a asp-action="Index" asp-controller="ProcessOrders" class="btn btn-light btn-sm"><i class="fas fa-chevron-circle-right me-2"></i>İncele</a></p>*@
                    }
                    else
                    {
                        <p class="card-text lead">Tamamlanmış Görev Yoktur.</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3 text-center">

                <div class="card-body">
                    <h4 class="card-title">Oluşturulmuş Rapor Sayısı</h4>
                    @if (ViewBag.ReportCount > 0)
                    {
                        <p class="card-text display-4">@ViewBag.ReportCount</p>
                        @*<p><a asp-action="Index" asp-controller="Notification" class="btn btn-light btn-sm"><i class="fas fa-chevron-circle-right me-2"></i>İncele</a></p>*@
                    }
                    else
                    {
                        <p class="card-text lead">Oluşturulmuş raporunuz yoktur.</p>
                    }
                </div>
            </div>
        </div>

    </div>


